@model BlondeHeaven.ViewModels.ShopModelView

@{ ViewData["Title"] = "Index"; }

    <form asp-controller="shop" asp-action="Index">
        <p>
            搜索店铺: <input type="text" name="SearchString">
            <input type="submit" value="Filter" />
        </p>
    </form>
@foreach (var noodle in Model.ShopKeepers)
{
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="@noodle.Photo" alt="">
        <div class="caption">
            <h3 class="pull-right">￥@noodle.Sales</h3>
            <h4>
                <a asp-controller="shop"
                   asp-action="Details"
                   asp-route-id="@noodle.Id">详细</a>
            </h4>
            <p>@noodle.Phone</p>
        </div>
    </div>
</div>}
