@model BlondeHeaven.ViewModels.Base.OrderModelView
@{
    ViewData["Title"] = "EndOrder";
}
<h2>已完成的订单</h2>


@foreach (var noodle in Model.Orders)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3 class="pull-right">￥@noodle.DateTime</h3>
                <p>@noodle.Price</p>
                <p>@noodle.Name</p>
            </div>
        </div>
    </div>

    <h4>
        <a asp-controller="Personal"
           asp-action="Comment"
           asp-route-id="@noodle.Id">评论</a>
    </h4>
}


