
@{
    ViewData["Title"] = "Index";
}
<h1>
    <a asp-controller="Personal"
       asp-action="Order">待完成订单</a>
</h1>

<h1>
    <a asp-controller="Personal"
       asp-action="EndOrder">已完成订单</a>
</h1>
<h1>
    <a asp-controller="Personal"
       asp-action="MyComment">评价</a>
</h1>
<h1>
    <a asp-controller="Personal"
       asp-action="EndOrder">售后</a>
</h1>