
@{
    ViewData["Title"] = "Index";
}
<h1>
    <a asp-controller="Personal"
       asp-action="Order">我的订单</a>
</h1>

<h1>
    <a asp-controller="Personal"
       asp-action="EndOrder">历史订单</a>
</h1>