
@{
    ViewData["Title"] = "MyShop";
}



<h4>
    <a asp-controller="Personal"
       asp-action="UserShop">订单中心</a>
</h4>



<h4>
    <a asp-controller="Personal"
       asp-action="AdminShop">店铺管理</a>
</h4>


<h4>
    <a asp-controller="shop"
       asp-action="Edit">编辑</a>

</h4>