
@{
    ViewData["Title"] = "MyShop";
}



<h4>
    <a asp-controller="Personal"
       asp-action="UserShop">我的订单</a>
</h4>



<h4>
    <a asp-controller="Personal"
       asp-action="UserEndShop">已完成的订单</a>
</h4>



<h4>
    <a asp-controller="Personal"
       asp-action="AdminShop">店铺管理</a>
</h4>
